div.realtors
    h3.heading-3=realtorBoxTitle
    div.realtors__list(dir="rtl")
        img.realtors__img(src=`/img/users/${realtor.photo}` alt=`${realtor.username}`)
        .realtors__details
            h4.heading-4.heading-4--light=realtor.username
            h4.heading-4.heading-4--light=realtor.Email
            h4.heading-4.heading-4--light=realtor.phoneNumber
            